@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-up {
  animation: scrollUp 20s linear infinite;
}